.start-text {
    background-color: #fff;
}

.jumbotron-heading {
    font-weight: 300;
}

.slider .center {
    height: 40vh;
}

.ticket div{
    height: 45vh;
}

.ticket div .figure img{
    min-height: 35vh;
    max-height: 35vh;
    max-width: 90%;
    min-width: 90%;
}

.figure {
    display: block !important;
}
.card-item {
    color: #212529;
}
.card-item:hover {
   color: #212529;
   text-decoration: none;
   
}

/* .ticket:nth-child(odd) div {
    background-color: green;
}

.ticket:nth-child(even) div {
    background-color: blue;
} */
